
body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
}

.items {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

.items img {
    width: 100%;
    height: auto;
}

.item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px; 
    text-align: center;
    display: flex; 
    flex-direction: column;
    min-height: 300px; 
}

.item img {
    width: 100%;
    height: auto;    
}

.item p { 
    margin: 10px;
    font-size: 1rem;
}

.item p:nth-child(2) {  
    color: black;
}

.item p:nth-child(3) { 
    font-weight: bold;
    color: green;
}

.item button {
    font-size: 12px;
    color: black;
    margin: 10px auto; 
    padding: 5px 10px; 
    max-width: 120px; 
    width: auto; 
 }